.sidebar-container{
    position: fixed;
    left: 0%;
    margin-top: 2.5rem;
    background-color: var(--lynx-white-color);
    height: 100vh;
    width: 17rem;
    padding: 3rem 1.5rem;
    overflow-y: auto;
}

.category,.rating-label,.sort-label{
    padding: 5px 0;
}

.container-box{
    margin-bottom: 1.5rem;
}

.price-range{
    width: 100%;
}

.product-container{
 padding: 7rem 20rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
    gap: 2.5rem;;
    padding: 2rem;
}